@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic&subset=latin,cyrillic);
  
body {
	color:whitesmoke;
}
.wrap {
	wax-width: 1366px;
	margin: 0 auto;
}

nav{
	float: right;
	margin-right: 100px;
	margin-top: 24px;
}

img.logo{
	display: inline-block;
	margin-top: 24px;  }


.nav-link{
	margin-left: 3rem;
}

#about-section{
	display:inline-block;
	width:100%;
}


#slider{
	height: 600px;
    margin-top: 15px;
    overflow: hidden;
    background-image: url(../img/slider9.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider-image{
margin-top: 20px;
	width:100%;
}
h2{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
}

#me{

	margin-top:3%;
	border-radius: 50%;
	width:100%;

}

#image{
	width: 30%;
	float: left;
	padding-right: 50px;
	padding-left: 100px;
}

#info{
	float: right;
	width: 70%;
padding-right:100px;
}
/*#info-me{
position: absolute;
	top:1350px;
	width: 90%;
	margin: 0 auto;
	height: 400px;
}*/
#portfolio{
	width: 100%;
	background-color: whitesmoke;
	overflow: auto;
}

.pad-left{
	padding-left: 100px;
}

.pad-right{
	padding-right: 100px;
}
.image-link {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

/* aligns caption to center */
.mfp-title {
	text-align: center;
	padding: 6px 0;
}
#portfolio{
	width: 100%;
}
.portfolio-works{
	display: inline;
	float: left;
}
.row{
	float: right;
}

.image_block{
	height: 200px;
	overflow: hidden;
}

#contacts{
	width: 100%;
}
#contact_info_main{
	text-align: center;
}

h2{
	text-align: center;
}

form{
	width: 50%;
	margin: 0 auto;
	text-align:center;
}
.input-group{
	margin-top: 25px;
}

#submit{
	margin-top: 25px;
	border-radius: 10px;
	margin-bottom: 25px;
}

#submit:hover{
	color: white;
}

footer{
	color: white;
	background-color: #807e7e;
	position: relative;
	top: 150px;
	margin-top: -150px; /* высота футера */
	height: 150px;
	clear:both;
  	bottom:0;
  	margin-bottom: -25px;
}

textarea{
	border-radius: 10px;
}

@media (max-width: 425px){
	.pad-left {
    	padding-left: 30px;
	}

	.nav{
		display: flex;
	    width: 100%;
	    margin-right:0;
	    padding-bottom: 20px;
	}

	.nav-link{
		font-size:15px;
		justify-content: center;
	}

	#slider{
		height:200px;

		h2{
			padding-top: 10px;
		}


}
